.outer-square {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    margin: auto;
}

.box {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 253px;
    left: 794px;
}

.wall {
    border: 1px solid black;
    width: 15px;
    height: 200px;
    background-color: black;
    position: absolute;
    top: 170px;
    left: 890px;
}